/* .card-container {
  padding: 1rem 2rem;
}

p-card-footer{
  display:contents;
}
p-card-content{
  margin: 0px;
  padding: 0px;
}
p-card-header{
  margin: 0px;
  padding: 0px;
} */
p-card {
  margin: 15px;
}