<div class="container-fluid my-2 p-3" style="width: 90%">
  <div class="card">
    <div
      class="flex flex-wrap align-items-center justify-content-center card-container blue-container"
    >
      <div class="col-4">
        <h1>Notes List</h1>
      </div>
      <div class="col-4"></div>
      <div class="col-4 justify-content-end flex-wrap card-container">
        <p-button
          data-test="create button"
          pRipple
          styleClass="p-button-raised p-button-text p-button-secondary"
          label="Add New Note"
          icon="pi pi-plus"
          (onClick)="openCreateModal()"
          pTooltip="Create New Note"
          tooltipPosition="right"
        >
        </p-button>
      </div>
    </div>
  </div>
  <div class="card-container">
    <p-card
      *ngFor="let note of notes$ | async"
      header="{{ note.title | titlecase }}"
      subheader="date: {{ note.created_at | date }}"
      [style]="{ width: '300px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="{{ note.photo }}" />
      </ng-template>
      <p>{{ note.text }}</p>
      <ng-template pTemplate="footer">
        <div class="card">
          <div
            class="flex flex-wrap align-items-center justify-content-center card-container blue-container"
          >
            <div class="mx-1">
              <p-button
                icon="pi pi-user"
                styleClass="p-button-rounded p-button-text p-button-raised"
                (onClick)="onClickViewDetail(note.id)"
                pTooltip="View more"
                tooltipPosition="top"
              >
              </p-button>
            </div>
            <div class="mx-1">
              <p-button
                icon="pi pi-file-edit"
                styleClass="p-button-rounded p-button-help p-button-text p-button-raised"
                (onClick)="onClickUpdateDetail(note.id)"
                pTooltip="Edit"
                tooltipPosition="top"
              >
              </p-button>
            </div>
            <div class="mx-1">
              <p-button
                icon="pi pi-trash"
                styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"
                (onClick)="deleteNote(note.id, $event)"
                pTooltip="Delete"
                tooltipPosition="top"
              ></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
<!-- Start Create Note Modal -->
<p-dialog
  header="Create New note"
  [(visible)]="showCreateFormModal"
  [style]="{ width: '50vw' }"
>
  <app-create-note (isCreateFormDone)="onSubmitCreateForm($event)">
  </app-create-note>
</p-dialog>
<!-- End Create Note Modal -->
