<div class="container-fluid m-3 align-items-center">
  <div class="card m-2">
    <div
      class="flex flex-wrap align-items-center justify-content-center card-container"
    >
      <div class="col-4">
        <h1>Notes List</h1>
      </div>
      <div class="col-4"></div>
      <div class="col-4 justify-content-end flex-wrap card-container">
        <p-button
          data-test="create button"
          pRipple
          styleClass="p-button-raised p-button-text p-button-secondary"
          label="Add New Note"
          icon="pi pi-plus"
          (onClick)="openCreateModal()"
          pTooltip="Create New Note"
          tooltipPosition="right"
        >
        </p-button>
      </div>
    </div>
    <div class="row">
      <input
        type="text"
        style="width: 50%; height: 25px"
        [(ngModel)]="searchKeyword"
        (keyup)="search()"
        placeholder="Search by Title"
      />
    </div>
  </div>
  <div class="card">
    <div class="flex align-content-between flex-wrap card-container">
      <div
        class="flex align-items-center justify-content-center"
        *ngFor="let note of filteredNotes$ | async"
      >
        <p-card class="p-col-4">
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="{{ imageDirectoryPath }}{{ note.photo }}"
              width="250px"
              height="200px"
            />
          </ng-template>

          <ng-template pTemplate="content">
            <div class="card-header">
              {{ note.title | titlecase }}
            </div>
            <div class="card-subheader">date: {{ note.created_at | date }}</div>
            <p style="height: 80px">
              {{ getSpecificTextSize(note.text ? note.text : "") }}
            </p>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="card">
              <div
                class="flex flex-wrap align-items-center justify-content-center card-container"
              >
                <div class="mx-1">
                  <p-button
                    icon="pi pi-file-edit"
                    styleClass="p-button-secondary p-button-text "
                    (onClick)="onClickViewAndUpdateDetail(note.id)"
                    pTooltip="View and Edit"
                    tooltipPosition="top"
                  >
                  </p-button>
                </div>
                <div class="mx-1">
                  <p-button
                    icon="pi pi-trash"
                    styleClass="p-button-danger p-button-text"
                    (onClick)="deleteNote(note.id, $event)"
                    pTooltip="Delete"
                    tooltipPosition="top"
                  ></p-button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>

    <!-- Start Create Note Modal -->
    <p-dialog
      header="Create New note"
      [(visible)]="showCreateFormModal"
      [style]="{ width: '50vw' }"
    >
      <app-create-note (isCreateFormDone)="onSubmitCreateForm($event)">
      </app-create-note>
    </p-dialog>
    <!-- End Create Note Modal -->
  </div>
</div>
