<div class="container">
  <p-toast></p-toast>
  <form [formGroup]="noteForm" test-data="update-form">
    <div class="formgrid grid">
      <div>
        <div
          class="container"
          *ngIf="noteForm.get('photo').value; else uploadImage"
        >
          <img
            class="photo-custom"
            src="{{ noteForm.get('photo').value }}"
            alt="Avatar"
          />
          <div class="middle">
            <button
              pButton
              pRipple
              type="button"
              (click)="edit('photo')"
              icon="pi pi-camera"
              class="p-button-rounded p-button-text"
            ></button>
          </div>
        </div>
        <ng-template #uploadImage>
          <div class="container">
            <img src="/assets/upload.png" alt="Avatar" class="image-custom" />
            <div class="middle">
              <button
                pButton
                pRipple
                type="button"
                (click)="edit('photo')"
                icon="pi pi-camera"
                class="p-button-rounded p-button-text"
              ></button>
            </div>
          </div>
        </ng-template>
        <div class="p-d-flex p-jc-between">
          <div class="p-mb-4">
            <label>
              <input
                type="file"
                accept="image/* "
                width="48"
                height="48"
                style="display: none"
                onClick="this.value=null"
                (change)="onSelecteLogo($event)"
                enyct
              />
              <a
                ><i class="pi pi-upload p-mx-2"></i
                ><span style="cursor: pointer"
                  >Choose a cover photo for your note</span
                ></a
              >
            </label>
          </div>
        </div>
        <div class="p-d-flex p-flex-row p-my-2">
          <div class="p-mx-2 p-order-1">
            <button
              pButton
              pRipple
              class="p-button-raised p-button-text"
              type="button"
              (click)="onUploadPhoto()"
              label="Upload"
              [disabled]="!this.selectedLogo"
            ></button>
          </div>
          <div class="p-ml-2 p-order-2">
            <button
              pButton
              pRipple
              class="p-button-raised p-button-text"
              type="button"
              (click)="onDeleteLogo()"
              label="Remove"
              [disabled]="!this.noteForm.controls['photo'].value"
            ></button>
          </div>
          <p-toast
            position="top-center"
            key="custom"
            (onClose)="onReject()"
          ></p-toast>
        </div>
      </div>
      <div class="field col my-3">
        <div>
          <label class="mr-2" for="title2">Old Title: </label>
          <span>{{ this.noteForm.controls["title"].value | titlecase }}</span>
        </div>
        <label class="mr-2" for="title2">New Title: </label>
        <input
          placeholder="{{ this.noteForm.controls['title'].value }}"
          formControlName="title"
          id="title2"
          type="text"
          class="text-base text-color p-2"
          pTooltip="Enter New Title"
          tooltipPosition="right"
        />
      </div>
      <div
        test-data="first-name-error"
        class="p-mt-2"
        *ngIf="
          noteForm.controls['title'].errors &&
          (noteForm.controls['title'].touched ||
            noteForm.controls['last_name'].dirty)
        "
      >
        <small
          class="p-error"
          *ngIf="
            noteForm.controls['title'].hasError('minlength') ||
            noteForm.controls['title'].hasError('maxlength')
          "
          >Number of Character should be between 2 to 20
        </small>
      </div>

      <div class="field col my-3" test-data="text-input">
        <div>
          <label class="mr-2" for="text2">Old Email: </label>
          <span>{{ this.noteForm.controls["text"].value | uppercase }}</span>
        </div>
        <label class="mr-2" for="text">New text: </label>
        <input
          formControlName="text"
          id="text"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          pTooltip="Enter New text"
          tooltipPosition="right"
        />
      </div>
      <div
        test-data="text-error"
        class="p-mt-2"
        *ngIf="
          noteForm.controls['text'].errors &&
          (noteForm.controls['text'].touched || noteForm.controls['text'].dirty)
        "
      >
        <small
          class="p-error"
          *ngIf="noteForm.controls['text'].hasError('text')"
          >*Enter text format.
        </small>
        <small
          class="p-error"
          *ngIf="noteForm.controls['text'].hasError('maxlength')"
          >Number of Character should be less that 30
        </small>
      </div>
    </div>
    <div class="row align-items-center mx-2">
      <div class="col-7"></div>
      <div class="col-5">
        <button
          test-data="update-button"
          pButton
          pRipple
          class="p-button-raised p-button-text px-3 py-2 m-2"
          (click)="updateNoteDetail()"
          label="Save"
          [disabled]="!noteForm.valid"
        ></button>

        <button
          test-data="cancel-button"
          pButton
          pRipple
          class="p-button-raised p-button-text px-3 py-2 m-2"
          type="button"
          label="Cancel"
          (click)="cancelNoteDetail()"
        ></button>
      </div>
    </div>
  </form>
</div>
