<div class="container">
  <p-toast></p-toast>
  <form [formGroup]="noteForm">
    <div class="formgrid grid">
      <div class="card">
        <div class="flex flex-column card-container">
          <div class="flex align-items-center justify-content-center m-1">
            <div class="container">
              <img
                src="/assets/{{ this.noteForm.controls['photo'].value }}"
                alt="Cover Photo"
                class="image-custom"
                width="100px"
                height="auto"
              />
            </div>
          </div>

          <div class="flex align-items-center justify-content-center m-1">
            <div class="p-mb-4">
              <input
                type="file"
                accept="image/* "
                width="70"
                height="70"
                style="display: none"
                onClick="this.value=null"
                (change)="onSelecteLogo($event)"
                enyct
              />
              <a
                ><i class="pi pi-upload p-mx-2"></i
                ><span style="cursor: pointer; padding: 0 10px"
                  >Choose a cover photo for your note</span
                ></a
              >
            </div>
          </div>
          <div class="flex align-items-center justify-content-center m-1">
            <div class="card">
              <div class="field col my-3">
                <div>
                  <label class="mr-2" for="title2">Old Title: </label>
                  <span>
                    {{ this.noteForm.controls["title"].value | titlecase }}
                  </span>
                </div>
                <div class="field col my-2">
                  <label class="mr-2" for="title2">New Title: </label>
                  <input
                    placeholder="{{ this.noteForm.controls['title'].value }}"
                    formControlName="title"
                    id="title2"
                    type="text"
                    class="text-base text-color p-2"
                    pTooltip="Enter New Title"
                    tooltipPosition="right"
                  />
                </div>

                <div
                  test-data="title-error"
                  class="p-mt-2"
                  *ngIf="
                    noteForm.controls['title'].errors &&
                    (noteForm.controls['title'].touched ||
                      noteForm.controls['title'].dirty)
                  "
                >
                  <small
                    class="p-error"
                    *ngIf="
                      noteForm.controls['title'].hasError('minlength') ||
                      noteForm.controls['title'].hasError('maxlength')
                    "
                    >Number of Character should be between 2 to 20
                  </small>
                </div>
              </div>

              <div class="field col my-2" test-data="text-input">
                <div>
                  <label class="mr-2" for="text2">Old Text: </label>
                  <span>
                    {{ this.noteForm.controls["text"].value | uppercase }}
                  </span>
                </div>
                <div class="field col my-2">
                  <label class="mr-2" for="text">New text: </label>
                  <textarea
                    rows="4"
                    cols="50"
                    required
                    formControlName="text"
                    id="text2"
                    placeholder="Text"
                    type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  ></textarea>
                </div>
              </div>
              <div
                class="p-mt-2"
                *ngIf="
                  noteForm.controls['text'].errors &&
                  (noteForm.controls['text'].touched ||
                    noteForm.controls['text'].dirty)
                "
              >
                <small
                  class="p-error"
                  *ngIf="noteForm.controls['text'].hasError('required')"
                >
                  *This field is required.
                </small>
                <small
                  class="p-error"
                  *ngIf="noteForm.controls['text'].hasError('maxlength')"
                  >Number of Character should be less than 30
                </small>
              </div>

              <div class="row align-items-center mx-2">
                <div class="col-7"></div>
                <div class="col-5">
                  <button
                    pButton
                    pRipple
                    class="p-button-raised p-button-text px-3 py-2 m-1"
                    type="submit"
                    (click)="updateNoteDetail()"
                    label="Save"
                    [disabled]="!noteForm.valid"
                  ></button>
                  <button
                    pButton
                    pRipple
                    class="p-button-raised p-button-text px-3 py-2 m-1"
                    type="button"
                    label="Cancel"
                    (click)="cancelNoteDetail()"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
